################################################################################
# Данный GITIGNORE-файл был автоматически создан Microsoft(R) Visual Studio.
################################################################################

*.ipch
*.suo
*.db
*.ilk
*.pdb
*.tlog
*.log
*.obj
*.pch
*.idb
*.vcxproj
*.filters
*.user
*.opendb
*.sln
